.searchPage {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "section img";
  & .background-home {
    grid-area: img;
  }
  & .search-content {
    grid-area: section;
    display: flex;
    flex-direction: column;
    padding-right: 20%;
  }
}
