
@import '../../sass/_blog';

.profile {
    display: flex;
    flex-direction: row;
    font-family: $medium-title;
    font-weight: 300;
    font-size: 14px;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    justify-content: flex-end;
    padding-right: 2%;
    & picture {
        width:  30px;
        margin: auto 0;
        & img {
            width: 100%;
            border-radius: 50%;
        }
    }

}