@import '../../sass/_blog';


.search-button {
    background: #1D1FDD;
    border-radius: 30px;
    font-family: $big-title;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 30px;
}