
$big-title: NeueHansKendrick-ExtraBold, sans-serif;
$medium-title: NeueHansKendrick-bold, sans-serif;


$title-font-size: 120px;
$body-font-size: 14px;
$search-font-size: 18px;


//colors
$dark-blue: #1D1FDD;
$dark-grey: #565656;
$light-grey: #666666;
$black: #000000;
